/* Start Variables */
:root {
    --mainColor: #2196F3;
    --altMainColor: #1787e0;
    --mainTranstionDuration: 0.3s;
    --mainPadding: 100px;
    --sectionBackground: #ececec;
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
/* larger */
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.main-title {
    text-transform: uppercase;
    position: relative;
    margin: 0 auto 80px;
    padding: 10px 20px;
    border: 2px solid black;
    width: fit-content;
    font-size: 30px;
    z-index: 1;
    transition: var(--mainTranstionDuration);
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--mainColor);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
/* End Global Rules */
/* Start Header */
.header {
    background-color: white;
    position: relative;
    -moz-box-shadow: 0 0 10px #DDD;
    -webkit-box-shadow: 0 0 10px #DDD;
    box-shadow: 0 0 10px #DDD;
}
.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header .logo {
    color: var(--mainColor);
    font-size: 26px;
    font-weight: bold;
    height: 73.6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
    }
}
.header .main-nav {
    display: flex;
}
@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}
.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73.6px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--mainTranstionDuration);
    overflow: hidden;
    font-size: 18px;
}
@media (max-width: 767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.header .main-nav > li > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--mainColor);
    top: 0;
    left: -100%;
    transition: var(--mainTranstionDuration);
}
.header .main-nav > li > a:hover {
    color: var(--mainColor);
    background-color: #FAFAFA;
}
.header .main-nav > li > a:hover::before {
    left: 0;
}
/* Start Megamenu */
.header .mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    background-color: white;
    border-bottom: 3px solid var(--mainColor);
    display: flex;
    gap: 40px;
    padding: 30px;
    opacity: 0;
    top: calc(100% + 50px);
    transition: top var(--mainTranstionDuration), opacity var(--mainTranstionDuration);
}
@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.header .mega-menu .image img {
    max-width: 100%;

}
@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}
.header .mega-menu .links {
    min-width: 240px;
    flex: 1;
}
.header .mega-menu .links li {
    position: relative;
}
@media (max-width: 767px) {
    .header .mega-menu .links li:nth-of-type(5) {
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li:not(:last-child) {
    border-bottom:1px solid #e9e6e6 ;
}
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #FAFAFA;
    z-index: -1;
    transition: var(--mainTranstionDuration);
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
.header .mega-menu .links li a {
    padding: 15px;
    display: block;
    color: var(--mainColor);
    font-size: 18px;
    font-weight: bold;
}
.header .mega-menu .links li i {
    margin-right: 10px;
}
/* End Megamenu */
/* End Header */
/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 73.6px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 30px;
        letter-spacing: -1px;
    }
}
.landing .text p {
    font-size: 23px;
    line-height: 1.8;
    margin-top: 10px;
    color: #666;
    max-width: 500px;
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 20px;
        line-height: 1.6;
    }
}
@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}
.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}
.landing .go-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color: var(--mainColor);
    transition: var(--mainTranstionDuration);
}
.landing .go-down:hover {
    color: var(--altMainColor);
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Articles */
.articles {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--mainTranstionDuration), box-shadow var(--mainTranstionDuration);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
    max-width: 100%;
}
.articles .box .content {
    padding: 20px;
}
.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a {
    color: var(--mainColor);
    font-weight: bold;
}
.articles .box .info i {
    color: var(--mainColor);
}
.articles .box:hover .info i {
    animation: moving-arrow 0.5s linear infinite;
}
/* End Articles */
/* Start Gallery */
.gallery {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    position: relative;
    background-color: #ececec;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.gallery .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    width: 10px;
    height: 10px;
    opacity: 0;
    z-index: 2;
}
.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}
.gallery .box .image img {
    width: 100%;
    transition: var(--mainTranstionDuration);
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    position: relative;
    background-color: white;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box {
    text-align: center;
    border: 1px solid #ccc;
}
.features .box .img-holder {
    position: relative;
    overflow: hidden;
}
.features .box .img-holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--mainTranstionDuration);
}
.features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0px;
}
.features .box .img-holder img {
    max-width: 100%;
}
.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}
.features .box p {
    font-size: 20px;
    line-height: 2;
    margin: 30px auto;
    padding: 25px;
    color: #777;
}
.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--mainTranstionDuration);
}
.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
    background-color: #f44036;

}
.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after {
    background-color: #009688;

}
.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after {
    background-color: #03a9f4;

}
.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover a {
    background-position: left bottom;
    color: white;
}
/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--mainPadding);
    padding-bottom: var(--mainPadding);
    position: relative;
    background-color: #ececec;
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    padding: 20px;   
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border-radius: 6px;
    position: relative;
    transition: var(--mainTranstionDuration);
}
.testimonials .box:hover {
    transform: scale(1.03222);
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
}
.testimonials .box img {
    position: absolute;
    top: -30px;
    right: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--sectionBackground);
}
.testimonials .box h3 {
    color: black;
    margin: 0 0 10px;
}
.testimonials .box span.title {
    color: var(--altMainColor);
    margin: 0 0 10px;
    display: block;
}
.testimonials .box .rate{
    margin: 0 0 10px;
}
.testimonials .box .rate .filled {
    color: #ffc107;
}
.testimonials .box p {
    color: #777;
    line-height: 1.6;
    margin-top: 10px;
}
/* End Testimonials */
/* Start Team */
.team {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--mainTranstionDuration);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
} 
.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data img {
    width: calc(100% - 60px);
    transition: var(--mainTranstionDuration);
    border-radius: 10px;
}
.team .box:hover img {
    filter: grayscale(100%);
}
.team .box .data .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;   
    gap: 20px;
}
.team .box .data .social a {
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .box .data .social i {
    color: #777;
    transition: var(--mainTranstionDuration);
}
.team .box .data .social a:hover i {
    color: var(--mainColor);
}
.team .box .info {
    padding-left: 75px;
}
.team .box .info h3 {
    font-size: 22px;
    margin-bottom: 0;
    transition: var(--mainTranstionDuration);
    color: var(--mainColor);
}
.team .box:hover .info h3 {
    color: #777;
}
.team .box .info p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #777;
    transition: var(--mainTranstionDuration);
}
.team .box:hover .info p {
    color: var(--mainColor);
} 
/* End Team */
/* Start Animation */
@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -40px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-12px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End Animation */
